tz.example.com {
	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}

	reverse_proxy /* tcp://brook-service.default:9999
}

git.example.com {
	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}

	reverse_proxy /* http://gogs-service.default:3000
}

paste.example.com {
	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}

	reverse_proxy /* tcp://paste-service.default:8000
}

shell.example.com {
	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}

	reverse_proxy /* tcp://wetty-service.default:3000
}
